/Assignment1/Exercise1/EightPuzzle/nbproject/private/
/Assignment1/Exercise2/XMLSerializer/nbproject/private/
/Assignment1/Exercise2/XMLSerializer/build/
/Assignment1/Exercise1/EightPuzzle/build/
/Assignment2/Exercises_3_4/JobScheduler/nbproject/private/
/Assignment2/Exercises_3_4/JobScheduler/build/
/Assignment2/Exercises_3_4/JobSchedulerFramework/nbproject/private/
/Assignment2/Exercises_3_4/JobSchedulerFramework/build/
/Assignment1/Exercise1/EightPuzzle/dist/
